
.container.mapa {
    display: flex;
    align-items: flex-start; 
    gap: 60px; 
  }
  .container-mapa-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
  .campo-busca {
    width: 100%; 
    max-width: 400px; 
    margin: auto;
}
