.form-register{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 85px;
    width: 380px;
    border-radius: 10px;
    border:1px solid black;
}
.title-text-register{
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}
.input{
    margin-left: 29px;
    padding: 20px;
    width: 290px;
    
}
.button-send-register, .button-send-register-cancelar{
    margin-top: 10px;
    margin-left:60px ;
    background-color: #6A1E2E;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    color:beige;
    cursor: pointer;
    border-style: none;
}

.button-send-register-cancelar:hover{
    scale: 1.05;
    transition: .4s;
}
.button-send-register:hover{
    scale: 1.05;
    transition: .4s;
}

.register-text{
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 165px;
}
.msgError{
    margin-left: 20px;
    color: red;
}


.redirecionar-cadastro{
    margin-left: 40px;
    color: #6A1E2E;
}

