.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eeeeee;
}

.footer-container p {
    color: #555;
    font-size: .95rem;
}