.banner-contato{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  
    url("../../../public/img/bannerContato.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 456px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text .titulo-banner ,.descricao-banner{
    color: #fff;
    padding-left: 73px;
}

.banner-text,  .titulo-banner {
    font-size: 48px;
    margin: 0;

}

.banner-text .descricao-banner{
    font-size: 18px;
    max-width: 400px;
    line-height: 3.2ch;
    font-weight: 300;
}

span{
    font-size: 14px;
}

