.navigation-container > ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}

.navigation-container a {
    text-decoration: none;
    color: #222;
    transition: .3s;
}

.navigation-container a:hover {
    transform: scale(1.05);
    text-decoration: underline;
    color: #000;
    transition: .3s;
}